@charset "UTF-8";
/* ==========================================================================
   foundtion

   ========================================================================== */
/*
   _mixin
*/
/*
   _mixin end
*/
/*
   _base 
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  color: #3e3e3e;
  background-color: #f3f3f3;
}

main {
  position: relative;
}

.inner {
  width: 86.3%;
  /* 好きな幅 */
  max-width: 1180px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .inner {
    width: 100%;
    /* 好きな幅 */
    max-width: 343px;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .inner {
    width: 91%;
    /* 好きな幅 */
    max-width: 902px;
    margin: 0 auto;
  }
}

.m-inner {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

.s-inner {
  width: 100%;
  /* 好きな幅 */
  max-width: 690px;
  margin: 0 auto;
}

/*
   _base end
*/
/* ==========================================================================
      Layout

========================================================================== */
/*
    footer
*/
.l-footer {
  position: relative;
  padding: 110px 16px 170px;
  color: #f3f3f3;
  background-color: #3e3e3e;
}

@media (max-width: 768px) {
  .l-footer {
    padding: 46px 18px 92px;
  }
}

.l-footer--left {
  float: left;
}

@media (max-width: 768px) {
  .l-footer--left {
    float: none;
  }
}

.l-footer--sns {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .l-footer--sns {
    padding: 0 85px;
  }
}

.l-footer--sns__twitter {
  font-size: 36px;
  margin-right: 20px;
  padding-bottom: 30px;
  color: #f3f3f3;
}

@media (max-width: 768px) {
  .l-footer--sns__twitter {
    float: left;
  }
}

.l-footer--sns__facebook {
  font-size: 36px;
  padding-bottom: 30px;
  color: #f3f3f3;
}

@media (max-width: 768px) {
  .l-footer--sns__facebook {
    float: right;
  }
}

.l-footer--right {
  float: right;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .l-footer--right {
    float: none;
    padding-top: 32px;
  }
}

.l-footer--right__contents {
  text-align: right;
}

@media (max-width: 768px) {
  .l-footer--right__contents {
    text-align: center;
  }
}

.l-footer .l-footer__logo {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 14px;
}

@media (max-width: 768px) {
  .l-footer .l-footer__logo {
    font-size: 7vw;
    margin-bottom: 3px;
  }
}

.l-footer .l-footer__copyright {
  font-size: 12px;
}

/*
    footer end
*/
/*
   _header
*/
.l-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.l-header--nav {
  line-height: 80px;
  width: 100%;
  height: 80px;
  background-color: transparent;
}

.l-header--logo__img {
  display: none;
}

.l-header--nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 650px;
  margin-top: 14px;
  text-align: center;
}

.l-header--nav-list__item {
  font-size: 16px;
  display: inline-block;
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  padding: 0;
}

.l-header--nav-list__anchor {
  font-weight: 500;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #3e3e3e;
}

.l-header--nav-list__anchor::after {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  background: #3e3e3e;
}

.l-header--nav-list__anchor:hover::after {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-item-border {
  border-bottom: 2px solid #3e3e3e;
}

@media (max-width: 768px) {
  .l-header {
    height: 68px;
  }
  .l-header--logo {
    height: 68px;
    margin: 0;
    padding: 21.5px 0;
  }
  .l-header--logo__anchor {
    display: table;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 68px;
    margin-left: 16px;
  }
  .l-header--logo__img {
    display: table-cell;
    width: 200px;
  }
  .l-header--nav {
    width: 300px;
  }
  .l-header--nav-list {
    z-index: 9999;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 99px;
    margin: 200px  100px;
  }
  .l-header--nav-list__item {
    font-size: 18px;
    display: block;
  }
  .l-header--nav-list__anchor {
    text-decoration: none;
  }
  .l-header--nav-list__anchor:link, .l-header--nav-list__anchor:visited, .l-header--nav-list__anchor:active {
    color: #313131;
  }
  .l-header--nav-list__anchor:hover {
    opacity: .6;
    color: #313131;
  }
}

/*
   _header end
*/
/* ==========================================================================
      Object

========================================================================== */
/* Component
      ---------------------------------------------------------------- */
/*
   _btn
*/
.c-button {
  -webkit-transition: 1s;
  transition: 1s;
}

.c-button__anchor {
  font-weight: bold;
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.c-button--orange {
  border-radius: 10px;
  background: #ffaa3b;
}

.c-button--orange:hover {
  border-radius: 10px;
  background-color: #d47800;
}

.c-button--orange:disabled {
  background-color: silver;
}

.c-button--orange:link, .c-button--orange:valid, .c-button--orange:active {
  width: 100%;
  height: 100%;
  color: #fff;
}

.c-button--orange__anchor {
  width: 100%;
  color: #fff;
}

.c-button--white {
  color: #3e3e3e;
  border: 1px solid #3e3e3e;
  background: #fff;
}

.c-button--white:hover {
  background-color: #3e3e3e;
}

.c-button--white:disabled {
  background-color: silver;
}

.c-button--white__anchor {
  letter-spacing: 5px;
  color: #3e3e3e;
}

.c-button--white__anchor:link, .c-button--white__anchor:visited {
  color: #3e3e3e;
}

.c-button--white__anchor:hover {
  color: #fff;
}

.c-button--white__anchor:active {
  color: #3e3e3e;
}

.c-button--brack {
  color: #fff;
  border: 1px solid #fff;
  background: #3e3e3e;
}

.c-button--brack:hover {
  background-color: #fff;
}

.c-button--brack:disabled {
  background-color: silver;
}

.c-button--brack__anchor {
  letter-spacing: 5px;
  color: #fff;
}

.c-button--brack__anchor:link, .c-button--brack__anchor:visited {
  color: #fff;
}

.c-button--brack__anchor:hover {
  color: #3e3e3e;
}

.c-button--brack__anchor:active {
  color: #fff;
}

.p-about-button {
  max-width: 280px;
  height: 50px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.p-about-button__anchor {
  line-height: 50px;
  letter-spacing: .1em;
}

.p-news-button {
  font-size: 18px;
  width: 248px;
  height: 60px;
  margin: 40px auto 0 auto;
}

.p-news-button__anchor {
  line-height: 60px;
  width: 248px;
}

.p-news-button:link, .p-news-button:valid, .p-news-button:active {
  width: 248px;
  height: 60px;
}

.p-results-button {
  font-size: 18px;
  width: 301px;
  height: 64px;
  margin: 130px 0;
}

.p-results-button__anchor {
  line-height: 64px;
  width: 248px;
}

.p-results-button:link, .p-results-button:valid, .p-results-button:active {
  height: 64px;
}

.p-access-button {
  font-size: 18px;
  max-width: 326px;
  height: 64px;
  margin-top: 50px;
}

.p-access-button__anchor {
  line-height: 64px;
  width: 248px;
}

.p-access-button:link, .p-access-button:valid, .p-access-button:active {
  height: 64px;
}

@media (min-width: 769px) {
  .p-access-button__sp {
    display: none;
  }
}

@media (max-width: 992px) {
  .p-access-button__pc {
    display: none;
  }
  .p-access-button__sp {
    display: block;
    max-width: 301px;
    margin: 40px auto 0 auto;
  }
}

@media (max-width: 768px) {
  .p-about-button {
    max-width: 232px;
  }
  .p-news-button {
    width: 311px;
    height: 54px;
  }
  .p-news-button__anchor {
    line-height: 54px;
    width: 311px;
  }
  .p-news-button:link, .p-news-button:valid, .p-news-button:active {
    height: 54px;
  }
  .p-results-button, .p-access-button {
    width: 343px;
    height: 54px;
    margin: 0 auto;
  }
  .p-results-button__anchor, .p-access-button__anchor {
    line-height: 54px;
    width: 248px;
  }
  .p-results-button:link, .p-results-button:valid, .p-results-button:active, .p-access-button:link, .p-access-button:valid, .p-access-button:active {
    width: 248px;
    height: 60px;
  }
}

.floating {
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 10px;
  display: none;
}

.floating a {
  display: block;
  padding: 8px;
  text-decoration: none;
  opacity: .6;
}

.floating a img {
  width: 50px;
}

.floating a:hover {
  opacity: 1;
}

/*
   _btn end
*/
.c-contact--form input, .c-contact--form textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
  border: 1px solid #3e3e3e;
  border-radius: 0;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.c-contact--form input:focus, .c-contact--form textarea:focus {
  outline: none;
}

.c-contact--form textarea {
  resize: none;
}

.c-contact--form textarea:focus, .c-contact--form textarea:hover {
  border-color: #4973ff;
  -webkit-box-shadow: 0 0 10px rgba(59, 105, 255, 0.3);
          box-shadow: 0 0 10px rgba(59, 105, 255, 0.3);
}

.c-contact--form input:focus, .c-contact--form input:hover {
  border-color: #4973ff;
  -webkit-box-shadow: 0 10px 5px -5px rgba(59, 105, 255, 0.1);
          box-shadow: 0 10px 5px -5px rgba(59, 105, 255, 0.1);
}

.c-contact--form input[type="submit"] {
  cursor: pointer;
  border: none;
}

.c-contact--form input[type="submit"]:hover, .c-contact--form input[type="submit"]:focus {
  border: none;
  outline: none;
}

.c-contact--form input[type="submit"] ::-moz-focus-inner {
  padding: 0;
  border: none;
}

.c-contact--form input[type="radio"] {
  display: none;
}

.c-contact--form input[type="radio"] + span {
  font-size: 22px;
  position: relative;
  display: inline-block;
  margin: 3px .2em 0;
  padding: 0 0 0 1.2em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .c-contact--form input[type="radio"] + span {
    font-size: 16px;
  }
}

.c-contact--form input[type="radio"] + span::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #3e3e3e;
  border-radius: 50%;
  background: #fff;
}

.c-contact--form input[type="radio"] + span:hover::before {
  border: 1px solid #4973ff;
  -webkit-box-shadow: 0 0 5px rgba(59, 105, 255, 0.4);
          box-shadow: 0 0 5px rgba(59, 105, 255, 0.4);
}

.c-contact--form input[type="radio"] + span::after {
  -webkit-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
  opacity: 0;
}

.c-contact--form input[type="radio"] + span:focus, .c-contact--form input[type="radio"] + span:checked {
  border: 1px solid #fff;
  outline: none;
  background: #3e3e3e;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-contact--form input[type="radio"]:checked + span::after {
  position: absolute;
  top: 50%;
  left: .13em;
  display: block;
  width: 6px;
  height: 6px;
  content: "";
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  border-radius: 50%;
  background: #4973ff;
}

@media (max-width: 768px) {
  .c-contact--form input[type="radio"]:checked + span::after {
    left: .2em;
  }
}

.c-contact--form input[type="checkbox"] {
  display: none;
}

.c-contact--form input[type="checkbox"] + span {
  position: relative;
  display: inline-block;
  margin: 0 .2em 0;
  padding: 0 0 0 1.2em;
  cursor: pointer;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.c-contact--form input[type="checkbox"] + span::before {
  position: absolute;
  top: 50%;
  left: -22px;
  display: block;
  width: 1.3em;
  height: 1.3em;
  content: "";
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #3e3e3e;
  border-radius: 2px;
  background: #fff;
}

.c-contact--form input[type="checkbox"] + span:focus::before, .c-contact--form input[type="checkbox"] + span:hover::before {
  border-color: #4973ff;
  -webkit-box-shadow: 0 0 10px rgba(59, 105, 255, 0.3);
          box-shadow: 0 0 10px rgba(59, 105, 255, 0.3);
}

.c-contact--form input[type="checkbox"] + span::after {
  -webkit-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
  opacity: 0;
}

.c-contact--form input[type="checkbox"]:checked + span::after {
  position: absolute;
  top: 55%;
  left: -20px;
  display: block;
  width: 20px;
  height: 10px;
  margin-top: -.2em;
  content: "";
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  opacity: 1;
  border-bottom: 3px solid #4973ff;
  border-left: 3px solid #4973ff;
}

.c-contact--form select {
  font-family: inherit;
  font-size: 1em;
  width: 100%;
  padding: 8px 24px 8px 8px;
  cursor: pointer;
  border: 1px solid #3e3e3e;
  border-radius: 0;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.c-contact--form select:hover {
  -webkit-box-shadow: 0 0 10px rgba(59, 105, 255, 0.3);
          box-shadow: 0 0 10px rgba(59, 105, 255, 0.3);
}

.c-contact--form select::-ms-expand {
  display: none;
}

.c-contact--form select:focus {
  border: 1px solid #3e3e3e;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*
   _list
*/
.c-topics-list {
  line-height: 1.7;
  padding-left: 0;
  list-style: none;
}

.c-topics-list--item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
  padding: 0 10px;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  border-bottom: 1px solid #dedede;
}

.c-topics-list--item:hover {
  background-color: #ecf0ff;
}

.c-topics-list--item:first-child {
  border-top: 1px solid #dedede;
}

.c-topics-list--item::after {
  position: absolute;
  top: calc(50% - 5px);
  right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -2.5px;
  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 3px solid #3e3e3e;
  border-right: 3px solid #3e3e3e;
}

.c-topics-list--item__anchor {
  text-decoration: none;
  color: #3e3e3e;
}

.c-topics-list--item__anchor:link, .c-topics-list--item__anchor:valid, .c-topics-list--item__anchor:hover, .c-topics-list--item__anchor:active {
  color: #3e3e3e;
}

.c-topics-list--item__date {
  font-size: 18px;
  display: inline-block;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  min-width: 100px;
  white-space: nowrap;
  letter-spacing: 1px;
}

.c-topics-list--item__text {
  font-size: 18px;
  position: relative;
  display: inline-block;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  max-width: 690px;
  margin: 38px 0;
  padding-right: 25px;
}

.c-topics-list--item__lavel {
  font-size: 14px;
  line-height: 28px;
  display: inline-block;
  width: 125px;
  min-width: 125px;
  height: 28px;
  margin: 40px 60px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #4973ff;
  border-radius: 50px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .c-topics-list--item {
    display: block;
    width: 100%;
    min-width: 104px;
    height: 100%;
    margin-left: 0;
    padding: 17px 30px 4px 16px;
    border-bottom: 1px solid #dedede;
  }
  .c-topics-list--item__date {
    font-size: 13px;
    display: inline-block;
    width: 85px;
    min-width: 85px;
    margin-right: 0;
    padding-right: 0;
    white-space: nowrap;
  }
  .c-topics-list--item__text {
    font-size: 14px;
    display: block;
    min-width: 280px;
    margin: 0;
    padding-top: 10px;
  }
  .c-topics-list--item__lavel {
    font-size: 12px;
    line-height: 25px;
    display: inline-block;
    width: 90px;
    min-width: 90px;
    height: 25px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .c-footer--list {
    text-align: center;
  }
}

.c-footer--list__text {
  margin-bottom: 14px;
}

@media (max-width: 768px) {
  .c-footer--list__text {
    display: inline-block;
    width: 49%;
  }
}

.c-footer--list__anchor {
  font-size: 18px;
  text-decoration: none;
  color: #f3f3f3;
}

@media (max-width: 768px) {
  .c-footer--list__anchor {
    font-size: 14px;
  }
}

.c-accordion--container {
  width: 100%;
  padding-bottom: 30px;
}

.c-accordion-list--title {
  font-weight: 18px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0;
  color: #3e3e3e;
}

.c-accordion-list--title::before {
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  content: "";
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  /*縦線に*/
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #4973ff;
}

.c-accordion-list--title::after {
  position: absolute;
  top: 50%;
  right: 25px;
  /*横線*/
  width: 15px;
  height: 2px;
  content: "";
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: #4973ff;
}

.c-accordion-list--title__icon {
  font-weight: bold;
  line-height: 26px;
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 20px 16px;
  padding: 0;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  background-color: #4973ff;
}

.c-accordion-list--title__text {
  font-weight: bold;
  display: inline-block;
}

.c-accordion-list--title.open {
  border-radius: 7px;
  background-color: #fff;
}

.c-accordion-list--title.open::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-accordion-list--title.open::after {
  opacity: 0;
}

.c-accordion--list {
  margin-bottom: 30px;
  border-radius: 7px;
  background-color: #fff;
}

.c-accordion--list:last-child {
  margin-bottom: 80px;
}

.c-accordion-list--answer {
  display: none;
  height: 100%;
  margin: 0 18px;
  color: #3f51b5;
  border: 1px solid #fff;
  border-radius: 7px;
  background-color: #fff;
}

.c-accordion-list--answer__text {
  display: block;
  max-width: 0 auto;
  margin: 0 0 18px 0;
  padding: 18px 14px;
  border-radius: 7px;
  background-color: #3b69ff33;
}

@media (min-width: 769px) {
  .c-accordion--container {
    position: relative;
    left: 100%;
    max-width: 616px;
    padding-bottom: 30px;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .c-accordion-list--answer {
    max-width: 580px;
  }
}

@media (max-width: 992px) {
  .c-accordion--container {
    position: relative;
    left: 50%;
    min-width: 616px;
    padding-bottom: 30px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .c-accordion-list--answer {
    min-width: 580px;
  }
}

@media (max-width: 768px) {
  .c-accordion--container {
    min-width: 343px;
    margin-top: 0px;
    padding-bottom: 30px;
  }
  .c-accordion--container:last-child {
    padding: 0;
  }
  .c-accordion-list--answer {
    min-width: 306px;
  }
}

/*
   _list end
*/
.c-big-heading {
  font-size: 38px;
  font-weight: 600;
}

.c-heading {
  font-size: 36px;
  font-weight: 600;
  padding: 80px 0;
  text-align: center;
}

.c-heading__white {
  color: #fff;
}

.c-sub-heading {
  font-size: 30px;
  font-weight: 600;
}

.c-third-heading {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .c-sub-heading {
    font-size: 24px;
  }
  .c-heading {
    font-size: 30px;
    margin: 0 auto;
    padding: 40px 0;
  }
}

/*
   _table 
*/
.c-table, .c-table th, .c-table td {
  font-size: 20px;
  font-weight: bold;
  border-collapse: collapse;
  border: 1px solid #707070;
}

.c-table {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  border-collapse: collapse;
  border: 1px solid #3e3e3e;
}

.c-table th {
  width: 30%;
  max-width: 280px;
  padding: 13px 60px;
  vertical-align: center;
  color: #fff;
  background: #3e3e3e;
}

@media (max-width: 768px) {
  .c-table th {
    max-width: 100px;
    padding: 13px;
  }
}

.c-table td {
  width: 100%;
  max-width: 680px;
  padding: 10px;
  text-align: left;
  vertical-align: center;
  color: #3e3e3e;
  background-color: #fff;
}

/*
   _table end
*/
/* project
      ---------------------------------------------------------------- */
/*
   _main
*/
/*------------------------------*/
/*▼.p-about */
/*------------------------------*/
.p-about {
  width: 100%;
  background: transparent url(../image/mv@2x.png) no-repeat center left/cover;
}

.p-about-box {
  max-width: 524px;
  padding-top: 220px;
  padding-bottom: 40px;
}

.p-about-box--heading {
  line-height: 45px;
  display: block;
  height: 84px;
  margin: 0;
  margin-bottom: 40px;
}

.p-about-box--text {
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  padding-bottom: 40px;
}

@media (min-width: 769px) {
  .p-about-box {
    position: relative;
    left: 27%;
    max-width: 524px;
    margin: 0 auto;
  }
  .p-about {
    padding-bottom: 125px;
    background-color: transparent;
    background-image: url(../image/mv@2x.png);
    background-repeat: no-repeat;
    background-position: 20% 0;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .p-about {
    padding-bottom: 195px;
    background-position: left 24% bottom 53px;
    background-size: 1400px;
  }
  .p-about-box {
    position: relative;
    left: 0;
    max-width: 524px;
    margin: 0 auto;
    padding-top: 200px;
  }
  .p-about-box--text {
    font-size: 14px;
  }
  .p-about-button {
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .p-about-box {
    position: relative;
    left: 0;
    max-width: 524px;
    margin: 0 auto;
  }
}

/*------------------------------*/
/*▼.news */
/*------------------------------*/
.p-news {
  padding-bottom: 130px;
  background-color: #f3f3f3;
}

.p-news-box {
  margin-top: 130px;
  padding-bottom: 40px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 12px #3e3e3e33;
          box-shadow: 0px 5px 12px #3e3e3e33;
}

.p-news-heading-box--heading {
  padding: 60px 0;
}

@media (max-width: 768px) {
  .p-news {
    padding: 0;
  }
  .p-news-box {
    position: relative;
    top: -90px;
    margin: 0;
  }
}

/*------------------------------*/
/*▼service */
/*------------------------------*/
.p-service {
  padding-bottom: 250px;
}

.p-service-box {
  position: relative;
  padding-bottom: 200px;
  background-color: #3e3e3e;
}

.p-service-box--wrap {
  position: absolute;
  top: 204px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 980px;
  max-width: 90%;
  min-height: 321px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 12px #3e3e3e33;
          box-shadow: 0px 5px 12px #3e3e3e33;
}

.p-service-box--content-container {
  position: relative;
  padding: 61px 35px 45px;
  text-align: center;
  letter-spacing: .05em;
}

.p-service-box--content-container__heading {
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
  letter-spacing: 4px;
}

.p-service-box--content-container__text {
  font-size: 14px;
  line-height: 27px;
  display: inline-block;
  text-align: left;
}

@media (max-width: 768px) {
  .p-service {
    margin-bottom: 530px;
  }
  .p-service-box {
    padding-bottom: 350px;
  }
  .p-service-box--wrap {
    top: 110px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-service-box--content-container {
    padding: 0px 16px 65px 16px;
  }
  .p-service-box--content-container:first-child {
    padding-top: 40px;
  }
  .p-service-box--content-container:last-child {
    padding: 0px 16px 40px 16px;
  }
}

/*------------------------------*/
/*▼results */
/*------------------------------*/
.p-results-box {
  position: relative;
  height: 100%;
  background-color: #3e3e3e;
}

.p-results-heading-box--heading {
  text-align: left;
}

.p-results-container--card {
  width: 100%;
  min-width: 422px;
  height: auto;
  background-color: #fff;
}

.p-results-container--card__img {
  width: 100%;
  height: auto;
}

.p-results-container--card__heading {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.p-results-container--card__text {
  line-height: 24px;
  padding: 0 20px 20px 20px;
}

@media (min-width: 769px) {
  .p-results-box {
    left: 92px;
    width: calc(100% - 92px);
    padding-bottom: 1px;
  }
  .p-results-heading-box--heading {
    left: 92px;
  }
  .p-results-inner {
    left: 92px;
    width: 100%;
    margin-right: 0;
    padding-left: 110px;
  }
}

@media (max-width: 768px) {
  .p-results {
    margin-top: 100px;
  }
  .p-results-inner {
    width: 100%;
    padding: 0 0 0 16px;
  }
  .p-results-box {
    padding-bottom: 40px;
  }
  .p-results-box--inner {
    width: 100%;
    margin: 0;
  }
  .p-results-container--card {
    width: 100%;
    min-width: 276px;
  }
  .p-results-container--card__heading {
    font-size: 15px;
    padding: 0 12px 4px;
  }
  .p-results-container--card__text {
    font-size: 12px;
    line-height: 1.8;
    padding: 0 12px 14px;
  }
  .swiper-pagination {
    position: relative;
    margin: 24px auto 40px auto;
  }
}

/*------------------------------*/
/*▼price */
/*------------------------------*/
.p-price--table {
  max-width: 960px;
  margin: 0 auto;
  color: #fff;
}

.p-price--text {
  display: block;
  margin: 0 auto;
  text-align: left;
  color: #3e3e3e;
}

@media (max-width: 768px) {
  .p-price-heading-box--heading {
    padding: 40px;
  }
  .p-price--table {
    max-width: 343px;
  }
}

/*------------------------------*/
/*▼comments */
/*------------------------------*/
.p-comments {
  position: relative;
  margin-top: 130px;
}

.p-comments-heading-box--heading {
  padding: 40px 0 80px 0;
  text-align: left;
}

.p-comments--wrapper {
  z-index: 5;
  width: 100%;
  max-width: 644px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 12px #3e3e3e33;
          box-shadow: 0px 5px 12px #3e3e3e33;
}

.p-comments--contents-box {
  margin-bottom: 80px;
}

.p-comments--contents-box__img {
  max-width: 100px;
  max-height: 100px;
}

.p-comments--contents-box__text {
  line-height: 25px;
  display: inline;
  margin: 0 0 0 50px;
  letter-spacing: .5px;
}

.p-comments--img-box {
  z-index: 5;
  margin: 126px 0 40px 0;
}

.p-comments--img-box__img {
  width: 537px;
  max-width: 100%;
  height: auto;
}

.p-comments--bgbox {
  position: absolute;
  top: 150px;
  content: "";
  background-color: #3e3e3e;
}

@media (min-width: 769px) {
  .p-comments--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .p-comments--contents-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .p-comments--bgbox {
    width: 80%;
    padding-bottom: 650px;
    content: "";
    background-color: #3e3e3e;
  }
}

@media (max-width: 992px) {
  .p-comments--wrapper {
    position: relative;
    bottom: 50px;
    max-width: 100%;
  }
  .p-comments--img-box {
    display: none;
  }
}

@media (max-width: 768px) {
  .p-comments {
    background-color: #3e3e3e;
  }
  .p-comments--inner {
    position: relative;
    top: -50px;
  }
  .p-comments--weapper {
    bottom: 100px;
  }
  .p-comments-heading-box--heading {
    margin: 0 0 40px 0;
  }
  .p-comments--contents-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
  .p-comments--contents-box__img {
    max-width: 56px;
    max-height: 56px;
  }
  .p-comments--contents-box__text {
    font-size: 14px;
    line-height: 25px;
    display: inline;
    margin-left: 25px;
    letter-spacing: .5px;
  }
  .p-comments--img-box {
    margin-top: 280px;
    background-color: #3e3e3e;
  }
  .p-comments--bgsbox {
    display: none;
  }
  .p-comments--img-box {
    display: none;
  }
}

/*------------------------------*/
/*▼Q&A*/
/*------------------------------*/
.p-faqs {
  position: relative;
  height: 100%;
  margin-top: 100px;
  background: transparent url(../image/sunyu-kim-1053375-unsplash@2x.png) no-repeat center top/120%;
}

@media (max-width: 992px) {
  .p-faqs {
    background: transparent url(../image/sunyu-kim-1053375-unsplash@2x.png) no-repeat center top/200%;
  }
}

@media (max-width: 768px) {
  .p-faqs {
    margin-top: 0px;
    padding-bottom: 40px;
    background: transparent url(../image/sunyu-kim-1053375-unsplash@2x.png) no-repeat center top/350%;
  }
}

/*------------------------------*/
/*▼access */
/*------------------------------*/
.p-access {
  position: relative;
  color: #fff;
}

.p-access--bgbox {
  width: 80%;
  padding-bottom: 750px;
  content: "";
  background-color: #3e3e3e;
}

.p-access--list {
  padding-bottom: 10px;
}

.p-access--list__text {
  padding-bottom: 10px;
}

.p-access--map {
  position: relative;
  width: 100%;
  padding-top: 43%;
  /* = height ÷ width × 100 */
}

.p-access--map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 769px) {
  .p-access--container {
    position: absolute;
    bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 85%;
    margin-top: 130px;
  }
  .p-access-heading-box {
    min-width: 460px;
  }
  .p-access-heading-box--heading {
    padding-top: 0;
  }
}

@media (max-width: 992px) {
  .p-access-heading-box--heading {
    padding: 40px 0;
  }
  .p-access {
    position: relative;
    padding-bottom: 60px;
    background-color: #3e3e3e;
  }
  .p-access--bgbox {
    display: none;
  }
  .p-access--container {
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
    margin-top: 0;
  }
  .p-access--map {
    padding-top: 71%;
    /* = height ÷ width × 100 */
  }
}

@media (max-width: 768px) {
  .p-access--map {
    min-height: 241px;
    padding-top: 43%;
    /* = height ÷ width × 100 */
  }
  .access-button-sp {
    margin-top: 40px;
  }
}

/*------------------------------*/
/*▼contact */
/*------------------------------*/
.p-contact {
  padding: 80px 16px;
  background-image: url(../image/contact-bg.jpg);
  background-size: cover;
}

.p-contact-heading-box {
  padding: 61px 0 57px;
  text-align: center;
  color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: transparent url(../image/contact-heading-bg.jpeg) no-repeat center center/100%;
}

.p-contact-heading-box__heading {
  font-size: 36px;
  margin-bottom: 11px;
}

.c-contact--form {
  padding: 60px 90px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #fff;
}

.c-contact--form__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 34px;
}

.c-contact--form__row {
  display: block;
  margin-bottom: 30px;
}

.c-contact--form__label-01 {
  font-size: 22px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.c-contact--form__caution {
  font-size: 16px;
  position: absolute;
  left: 140px;
  width: 55px;
  height: 24px;
  padding: 5px 11px;
  color: #fff;
  border-radius: 5px;
  background-color: #ff4646;
}

@media (max-width: 992px) {
  .c-contact--form__caution {
    left: 100px;
  }
}

.c-contact--form__label-02 {
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
}

.c-contact--form__select-box {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 261px;
}

.c-contact--form__select-box::after {
  position: absolute;
  top: calc(50% - 5px);
  right: 10px;
  display: block;
  width: 10px;
  height: 10px;
  margin-top: -2.5px;
  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 3px solid #3e3e3e;
  border-bottom: 3px solid #3e3e3e;
}

.c-contact--form__select {
  font-size: 18px;
  position: relative;
  z-index: 10;
  max-width: 261px;
  padding: 3px 20px;
  background-color: transparent;
}

.c-contact--form__name {
  font-size: 20px;
  width: 100%;
  max-width: 505px;
  padding: 0 12px;
  border: none;
  border-bottom: 1px solid #3e3e3e;
}

.c-contact--form__radio {
  margin-right: 45px;
}

.c-contact--form__textarea {
  display: block;
  width: 100%;
}

.c-contact--form__check {
  margin-bottom: 30px;
}

.c-contact--form .c-contact--form__check-text {
  margin-left: 22px;
}

.c-contact--form-in {
  width: 100%;
  max-width: 174px;
  padding: 12px 0;
}

@media (max-width: 768px) {
  .p-contact {
    padding: 40px 16px;
  }
  .p-contact-heading-box {
    padding: 28px 16px 38px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .p-contact-heading-box__heading {
    margin-bottom: 5px;
  }
  .p-contact-heading-box__text {
    font-size: 14px;
    text-align: left;
  }
  .c-contact--form {
    padding: 40px 16px;
  }
  .c-contact--form__data {
    display: block;
    margin-bottom: 38px;
  }
  .c-contact--form__row {
    margin-bottom: 16px;
  }
  .c-contact--form__label-01 {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
  }
  .c-contact--form__caution {
    font-size: 14px;
    position: relative;
    top: 0;
    left: 20px;
  }
  .c-contact--form__label-02 {
    font-size: 16px;
  }
  .c-contact--form__select-box {
    max-width: 100%;
  }
  .c-contact--form__select {
    max-width: 100%;
  }
  .c-contact--form__name {
    font-size: 16px;
    padding: 0 12px 6px;
  }
  .c-contact--form__radio {
    margin-right: 26%;
  }
  .c-contact--form__textarea {
    height: 160px;
  }
  .c-contact--form__check {
    margin-bottom: 18px;
  }
  .c-contact--form__button {
    display: block;
    text-align: center;
  }
  .c-contact--form-in {
    max-width: 121px;
    padding: 13px 0;
  }
}

/*
    main end
*/
/* ut ility
      ---------------------------------------------------------------- */
/*
  _spece
 */
.u-p1 {
  padding: 1px;
}

.u-p2 {
  padding: 2px;
}

.u-p3 {
  padding: 3px;
}

.u-p4 {
  padding: 4px;
}

.u-p5 {
  padding: 5px;
}

.u-p10 {
  padding: 10px;
}

.u-p15 {
  padding: 15px;
}

.u-p20 {
  padding: 20px;
}

.u-p30 {
  padding: 30px;
}

.u-pt1 {
  padding-top: 1px;
}

.u-pt2 {
  padding-top: 2px;
}

.u-pt3 {
  padding-top: 3px;
}

.u-pt4 {
  padding-top: 4px;
}

.u-pt5 {
  padding-top: 5px;
}

.u-pt10 {
  padding-top: 10px;
}

.u-pt15 {
  padding-top: 15px;
}

.u-pt20 {
  padding-top: 20px;
}

.u-pt30 {
  padding-top: 30px;
}

.u-pb1 {
  padding-bottom: 1px;
}

.u-pb2 {
  padding-bottom: 2px;
}

.u-pb3 {
  padding-bottom: 3px;
}

.u-pb4 {
  padding-bottom: 4px;
}

.u-pb5 {
  padding-bottom: 5px;
}

.u-pb10 {
  padding-bottom: 10px;
}

.u-pb15 {
  padding-bottom: 15px;
}

.u-pb20 {
  padding-bottom: 20px;
}

.u-pb30 {
  padding-bottom: 30px;
}

.u-pr1 {
  padding-right: 1px;
}

.u-pr2 {
  padding-right: 2px;
}

.u-pr3 {
  padding-right: 3px;
}

.u-pr4 {
  padding-right: 4px;
}

.u-pr5 {
  padding-right: 5px;
}

.u-pr10 {
  padding-right: 10px;
}

.u-pr15 {
  padding-right: 15px;
}

.u-pr20 {
  padding-right: 20px;
}

.u-pr30 {
  padding-right: 30px;
}

.u-pl1 {
  padding-left: 1px;
}

.u-pl2 {
  padding-left: 2px;
}

.u-pl3 {
  padding-left: 3px;
}

.u-pl4 {
  padding-left: 4px;
}

.u-pl5 {
  padding-left: 5px;
}

.u-pl10 {
  padding-left: 10px;
}

.u-pl15 {
  padding-left: 15px;
}

.u-pl20 {
  padding-left: 20px;
}

.u-pl30 {
  padding-left: 30px;
}

.u-pv5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.u-pv10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-pv15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.u-pv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-pv30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-ph5 {
  padding-right: 5px;
  padding-left: 5px;
}

.u-ph10 {
  padding-right: 10px;
  padding-left: 10px;
}

.u-ph15 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-ph20 {
  padding-right: 20px;
  padding-left: 20px;
}

.u-ph30 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-m0 {
  margin: 0;
}

.u-m1 {
  margin: 1px;
}

.u-m2 {
  margin: 2px;
}

.u-m3 {
  margin: 3px;
}

.u-m4 {
  margin: 4px;
}

.u-m5 {
  margin: 5px;
}

.u-m10 {
  margin: 10px;
}

.u-m15 {
  margin: 15px;
}

.u-m20 {
  margin: 20px;
}

.u-m30 {
  margin: 30px;
}

.u-mt0 {
  margin-top: 0;
}

.u-mt1 {
  margin-top: 1px;
}

.u-mt2 {
  margin-top: 2px;
}

.u-mt3 {
  margin-top: 3px;
}

.u-mt4 {
  margin-top: 4px;
}

.u-mt5 {
  margin-top: 5px;
}

.u-mt10 {
  margin-top: 10px;
}

.u-mt15 {
  margin-top: 15px;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mt26 {
  margin-top: 26px;
}

.u-mt30 {
  margin-top: 30px;
}

.u-mt35 {
  margin-top: 35px;
}

.u-mb0 {
  margin-bottom: 0;
}

.u-mb1 {
  margin-bottom: 1px;
}

.u-mb2 {
  margin-bottom: 2px;
}

.u-mb3 {
  margin-bottom: 3px;
}

.u-mb4 {
  margin-bottom: 4px;
}

.u-mb5 {
  margin-bottom: 5px;
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb15 {
  margin-bottom: 15px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-mb30 {
  margin-bottom: 30px;
}

.u-mr0 {
  margin-right: 0;
}

.u-mr1 {
  margin-right: 1px;
}

.u-mr2 {
  margin-right: 2px;
}

.u-mr3 {
  margin-right: 3px;
}

.u-mr4 {
  margin-right: 4px;
}

.u-mr5 {
  margin-right: 5px;
}

.u-mr10 {
  margin-right: 10px;
}

.u-mr15 {
  margin-right: 15px;
}

.u-mr20 {
  margin-right: 20px;
}

.u-mr30 {
  margin-right: 30px;
}

.u-ml0 {
  margin-left: 0;
}

.u-ml1 {
  margin-left: 1px;
}

.u-ml2 {
  margin-left: 2px;
}

.u-ml3 {
  margin-left: 3px;
}

.u-ml4 {
  margin-left: 4px;
}

.u-ml5 {
  margin-left: 5px;
}

.u-ml10 {
  margin-left: 10px;
}

.u-ml15 {
  margin-left: 15px;
}

.u-ml20 {
  margin-left: 20px;
}

.u-ml30 {
  margin-left: 30px;
}

.u-mv5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.u-mv10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-mv15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-mv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-mv30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-mh5 {
  margin-right: 5px;
  margin-left: 5px;
}

.u-mh10 {
  margin-right: 10px;
  margin-left: 10px;
}

.u-mh15 {
  margin-right: 15px;
  margin-left: 15px;
}

.u-mh20 {
  margin-right: 20px;
  margin-left: 20px;
}

.u-mh30 {
  margin-right: 30px;
  margin-left: 30px;
}

.u-mAuto {
  margin: 0 auto;
}

/*
  _spece end
 */
.swiper-pagination {
  z-index: 0;
  margin: 50px auto;
}

/* 全体のスタイル */
.swiper-pagination-bullet {
  width: 12px;
  /* 幅 */
  height: 12px;
  /* 高さ */
  margin: 10px;
  opacity: 1;
  /* 半透明（デフォルトでは0.2） */
  background: #fff;
  /* 色：緑 */
}

/* 現在のスライドのスタイル */
.swiper-pagination-bullet-active {
  width: 12px;
  /* 幅 */
  height: 12px;
  /* 高さ */
  margin: 0 10px 10px 10px;
  border: solid 2px #3e3e3e;
  border-radius: 12px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}

@media (min-width: 769px) {
  .drawer--right .drawer-nav {
    right: auto;
  }
  .drawer-nav .drawer-menu li {
    display: inline-block;
  }
  .drawer-hamburger {
    display: none;
  }
  .drawer--left .drawer-nav {
    left: 0;
  }
  .drawer-nav {
    position: relative;
    background-image: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .drawer--right .drawer-nav {
    z-index: 100;
    right: -300px;
    width: 300px;
  }
  .drawer-hamburger {
    padding: 22px 10px 30px 0;
  }
  .drawer-hamburger-icon {
    width: 25px;
    height: 4px;
    border-radius: 4px;
    background-color: #3e3e3e;
  }
  .drawer-hamburger-icon:before, .drawer-hamburger-icon:after {
    width: 25px;
    height: 4px;
    border-radius: 4px;
    background-color: #3e3e3e;
  }
  .drawer-hamburger-icon:after {
    top: 8px;
  }
  .drawer-hamburger-icon::before {
    top: -8px;
  }
  .drawer--right .drawer-hamburger, .drawer--right.drawer-open .drawer-nav, .drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
    right: 0;
  }
  .drawer-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    overflow: hidden;
    width: 16.25rem;
    height: 100%;
    color: #222;
    background-color: #fff;
  }
  .drawer--right.drawer-open .drawer-hamburger-icon:before, .drawer--right.drawer-open .drawer-hamburger-icon:after {
    background-color: #fff;
  }
  .drawer--right.drawer-open .drawer-hamburger {
    right: 280px;
    padding: 30px 2rem 30px;
  }
  .drawer-overlay {
    opacity: .6;
    background-color: #747474;
  }
}
