
.c-big-haeding {
	font-size: 38px;
	font-weight: bold;
}
.c-haeding {
	font-size: 36px;
	font-weight: bold;

	padding: 80px 0;

	text-align: center;
}

.c-haeding__white {
	color: $white;
}
.c-sub-haeding {
	font-size: 30px;
	font-weight: bold;
}


.c-third-haeding {
	font-size: 20px;
	font-weight: bold;
}



@include sp {
	.c-sub-haeding {
		font-size: 24px;
	}
	.c-haeding {
		font-size: 30px;

		margin: 0 auto;
		padding: 40px 0;
	}
}