/*
   _table 
*/


%table {
	font-weight: 600;

	border-collapse: collapse;

	border: 1px solid #707070;
}


.c-table {
	font-size: 20px;
	line-height: 60px;

	width: 100%;
	max-width: 980px;
	height: 60px;

	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
	border-collapse: collapse;

	border: 1px solid $brack;

	@extend %table;
	@include  sp {
		font-size: 16px;
	}


	th {
		width: 45%;

		vertical-align: center;

		color: #fff;
		background: $brack;

		@extend %table;
	}

	tr:not(:last-child) th {
		border-bottom: 1px solid $white;
	}
	td {
		width: 100%;
		padding-left: 2rem;

		text-align: left;
		vertical-align: center;

		color: $brack;
		background-color: $white;

		@extend %table;
	}
}


/*
   _table end
*/