
.c-contact--form {
	button {
		font-weight: bold;
		font-style: 18px !important;

		display: block;

		cursor: pointer;
		transition: 1s;
		text-align: center;
		text-decoration: none;

		border: none;
	}

	&__button {
		line-height: 50px;

		width: 174px;
		height: 50px;

		letter-spacing: .45px;

		color: $white;

		@include sp {
			width: 121px;
		}
		&:link, &:valid, &:active {
			width: 174px;
			height: 50px;

			@include sp {
				width: 121px;
			}
		}
	}
	&__button-disable {
		cursor: not-allowed;

		-webkit-border-radius: 10px;
		   -moz-border-radius: 10px;
		        border-radius: 10px;
		background: darken($gray,30%);

		&:hover {
			background-color: darken($gray,30%);
		}
		&:link, &:valid, &:active {
			color: $white;
		}
	}






	input, textarea {
		font-family: inherit;
		font-size: inherit;

		padding: 8px;

		border-radius: 0;
		background-color: transparent;
		background-image: none;

		-webkit-appearance: none;

		&:focus {
			outline: none;
		}
	}

	textarea {
		resize: none;
		cursor: pointer;
		&:focus, &:hover {
			border-color: $blue;
			box-shadow: 0 0 10px rgba(59,105,255,.3);
		}
	}

	input {
		cursor: pointer;
		&:focus, &:hover {
			border-color: $blue;
			box-shadow: 0 10px 5px -5px rgba(59,105,255,.1);
		}
		&[type="submit"] {
			cursor: pointer;

			border: none;

			&:hover, &:focus {
				border: none;
				outline: none;
			}

			::-moz-focus-inner {
				padding: 0;

				border: none;
			}
		}

		&[type="radio"] {
			display: none;

			cursor: pointer;

			+ span {
				font-size: 22px;

				position: relative;

				display: inline-block;

				margin: 3px .2em 0;
				padding: 0 0 0 1.2em;

				cursor: pointer;

				@include sp {
					font-size: 16px;
				}

				&::before {
					position: absolute;
					top: 50%;
					left: 0;

					display: block;

					width: 12px;
					height: 12px;

					content: "";
					transform: translateY(-50%);

					border: 1px solid $black;
					border-radius: 50%;
					background: $white;
				}
				&:hover {
					&::before {
						border: 1px solid $blue;
						box-shadow: 0 0 5px rgba(59,105,255,.4);
					}
				}


				&::after {
					transition: opacity .3s ease 0s;

					opacity: 0;
				}

				&:focus, &:checked {
					border: 1px solid $white;
					outline: none;
					background: $black;
					box-shadow: none;
				}
			}

			&:checked + span {
				cursor: pointer;
				&::after {
					position: absolute;
					top: 50%;
					left: .13em;

					display: block;

					width: 6px;
					height: 6px;

					content: "";
					transform: translateY(-50%);

					opacity: 1;
					border-radius: 50%;
					background: $blue;

					@include sp {
						left: .2em;
					}
				}
			}
		}

		&[type="checkbox"] {
			display: none;

			cursor: pointer;

			+ span {
				position: relative;

				display: inline-block;

				margin: 0 .2em 0;
				padding: 0 0 0 2.2em;

				cursor: pointer;
				transition: all .3s ease 0s;

				&::before {
					position: absolute;
					top: 50%;
					left: -3px;

					display: block;

					width: 1.3em;
					height: 1.3em;

					content: "";
					transform: translateY(-50%);

					border: 1px solid $black;
					border-radius: 2px;
					background: #fff;
				}

				&:focus, &:hover {
					&::before {
						border-color: $blue;
						box-shadow: 0 0 10px rgba(59,105,255,.3);
					}
				}


				&::after {
					transition: opacity .3s ease 0s;

					opacity: 0;
				}
			}

			&:checked + span {
				cursor: pointer;
				&::after {
					position: absolute;
					top: 55%;
					left: -2px;

					display: block;

					width: 20px;
					height: 10px;
					margin-top: -.2em;

					content: "";
					transform: translateY(-50%) rotate(-45deg);

					opacity: 1;
					border-bottom: 3px solid $blue;
					border-left: 3px solid $blue;
				}
			}
		}
	}

	select {
		font-family: inherit;
		font-size: 1em;

		width: 100%;
		padding: 8px 24px 8px 8px;

		cursor: pointer;
		cursor: pointer;

		border: 1px solid $black;
		border-radius: 0;
		background-image: none;

		-webkit-appearance: none;
		   -moz-appearance: none;

		&:hover {
			box-shadow: 0 0 10px rgba(59,105,255,.3);
		}

		&::-ms-expand {
			display: none;
		}

		&:focus {
			border: 1px solid $black;
			outline: none;
			box-shadow: none;
		}
	}
}