
.c-big-heading {
	font-size: 38px;
	font-weight: 600;
}
.c-heading {
	font-size: 36px;
	font-weight: 600;

	padding: 80px 0;

	text-align: center;
}

.c-heading__white {
	color: $white;
}
.c-sub-heading {
	font-size: 30px;
	font-weight: 600;
}


.c-third-heading {
	font-size: 20px;
	font-weight: 600;
}



@include sp {
	.c-sub-heading {
		font-size: 24px;
	}
	.c-heading {
		font-size: 30px;

		margin: 0 auto;
		padding: 40px 0;
	}
}