/*
    footer
*/
.l-footer {
	position: relative;

	padding: 110px 16px 170px;

	color: $gray;
	background-color: $black;



	&--container {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}



	&--sns {
		font-size: 36px;

		margin-bottom: 30px;

		opacity: .6;

		&__twitter {
			margin-right: 20px;
			padding-bottom: 30px;

			color: $gray;
		}

		&__facebook {
			padding-bottom: 30px;

			color: $gray;
		}
	}



	&--right {
		padding-top: 50px;
	}




	&__contents {
		text-align: right;
	}

	&__logo {
		font-size: 40px;
		font-weight: normal;

		margin-bottom: 14px;
	}

	&__copyright {
		font-size: 12px;

		padding-bottom: 50px;

		text-align: center;
	}
}

@include sp {
	.l-footer {
		padding: 46px 18px 92px;
		&--container {
			display: block;
		}

		&--sns {
			display: flex;
			justify-content: space-around;

			margin: 0 auto;
		}

		&__twitter {
			padding: 0;
		}

		&__facebook {
			padding: 0;
		}

		&--right {
			padding-top: 32px;
		}

		&__contents {
			text-align: center;
		}
		&__logo {
			font-size: 34px;

			margin-bottom: 3px;

			text-align: center;
		}
	}
}
/*
    footer end
*/